*{
   
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

.container{
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}

h1 {
    font-size: clamp(3.5rem, 10vw, 5rem);
}

h2{
    font-size: clamp(3.0rem, 8vw, 4rem);
}

h3{
    font-size: clamp(2.0rem, 5vw, 2rem);
}

p {
    color: #80807f;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

button {
    background-color: #e7a118;
    padding: 15px 20px;
    border-radius: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #433006;
    text-align: center;
    border: none;
    font-size: 15px;
    width: 150px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    cursor: pointer;


    .hamburger {
        display: none;
        font-size: 24px;
        cursor: pointer;
    }

    .links{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        width: 50%;

        a{
            text-decoration: none;
            font-size: 18px;
            color: black;
            padding: 15px;
        }

        .ctas {
            display: flex;
            gap: 10%;
            width: 30%;

            i {
                border-radius: 50%;
                border: 1px solid #e7a118;
                font-size: 24px;
                padding: 15px;
            }
        }
        
    }
  
}

/* homepae */
.home{
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 50px 0;
    margin-top: 5%;

    .aside{
        width: 50%;
        
        .btns{
            display: flex;
            gap: 7%;
            margin-top: 10%;

            

            button:nth-child(2){
                background-color: unset;
                border: solid #e7a118;

                i{
                    margin-right: 10px;
                }
            }

        }
        
    }

    .image-container {
        position: relative;
        width: 50%;
        display: block;
        align-items: center;
        margin: 7% 0;

        .right {
            position: absolute;
            top: -40%;
            right: 35%;
            transform: rotate(-50deg);

        }
    }

    .side-btns{
        display: grid;
        row-gap: 10%;
        margin: 10% 0;

        button {
            display: flex;
            padding: 0px 10px;
            box-shadow: 6px 6px 5px #80807f;
            align-items: center;
            gap: 10px;
            background-color: unset;
            font-size: unset;

    
            img{
                width: 40px;
                height: 40px;
            }

            span{
                padding: 10px;
                font-size: 15px;
                text-align: center;
                font-weight: 600;
            }
        }
    }
}

/* popular dishes section */
.popular{

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .scroll {
                display: flex;
                gap: 10%;
                width: 20%;
                justify-content: flex-end;
        
                i {
                    font-size: 25px;
                    padding: 10px;
                    border: solid #e7a118;
                    border-radius: 50%;
                    color: #433006;
        
                    #right {
                        background-color: #e7a118;
                    }
                }
        
                i:nth-child(2) {
                    background-color: #e7a118;
                }
            }
    }

    .plates{
        display: flex;
        gap: 5%;
        overflow-x: auto;
        scroll-behavior: smooth;
        white-space: no-wrap;
        scrollbar-width: none;

        .single{
            text-align: center;
            img{
                width: 300px;
                height: 200px;
                object-fit: contain;
            }

            .title{
                font-size: clamp(1.5rem, 3vw, 1.5rem);
                font-weight: 800;
                color: #433006;
            }

            i{
                color: #e7a118;
            }

            .price{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

/* services section */
.services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5%;
    padding: 50px 0;
    gap: 5%;

    .image-container{
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;

        img[alt="salad"]{
            top: -10%;
            right: 0;
            width: 200px;
            height: 250px;
            object-fit: contain;
            position: absolute;
        }

        img[alt="cheese"]{
            bottom: -20%;
            width: 200px;
            height: 250px;
            object-fit: contain;
            left: -10%;
            position: absolute;
        }

        img[alt="chef"]{
            /* margin-left: 35%; */
            width: 100%;
            height: 80vh;
            object-fit: contain;
            /* position: absolute; */
            right: 0;
        }
    }

    .aside{
        width: 50%;

        .services-offered{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
            margin-bottom: 5%;

            .service{
                display: flex;
                align-items: center;
                gap: 5%;

                img{
                    width: 48px;
                    height: 48px;
                }

                p{
                    
                    font-size: clamp(1.5rem, 3vw, 1.5rem);
                    font-weight: 800;
                    color: #433006;
    
                }
            }
        }
    }

}

/* menu section */
.menu-section{
    width: 100%;
    margin: 5% auto;

    .menu{
        h2{
            text-align: center;
        }
        .menus{
            display: flex;
            margin: 0 auto;
            align-items: center;
            gap: 5%;

            button{
                background-color: navajowhite;
                border: #e7a118 solid;
            }
            
        }
    }
    .plates {
            display: flex;
            gap: 5%;
            overflow-x: auto;
            scroll-behavior: smooth;
            white-space: no-wrap;
            scrollbar-width: none;
    
            .single {
                text-align: center;
    
                img {
                    width: 300px;
                    height: 200px;
                    object-fit: contain;
                }
    
                .title {
                    font-size: clamp(1.5rem, 3vw, 1.5rem);
                    font-weight: 800;
                    color: #433006;
                }
    
                i {
                    color: #e7a118;
                }
    
                .price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
}

/* reservation section */
.reservation{
    display: flex;
    gap: 10%;
    width: 100%;
    margin: 5% auto;

    .reserve{
        width: 50%;

        p{
            margin: 5% 0;
        }

        button{
            width: auto;
        }
    }

    .reserve-image{
        width: 50%;

    }

}

/* testimonials */
.testimonials{
    width: 100%;
    margin: 5% auto;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .scroll {
            display: flex;
            gap: 10%;
            width: 20%;
            justify-content: flex-end;
    
            i {
                font-size: 25px;
                padding: 10px;
                border: solid #e7a118;
                border-radius: 50%;
                color: #433006;
    
                #right {
                    background-color: #e7a118;
                }
            }
    
            i:nth-child(2) {
                background-color: #e7a118;
            }
        }
    }

    .testimonies{
        display: flex;
        justify-content: space-between;
        gap: 10%;

        .testimony{
            img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                /* border: #433006 solid; */
                border-radius: 50%;
                margin-top: 3%;
            }

            .name{
                font-size: 24px;
                color: #433006;
                font-weight: 700;
            }
        }
        
    }
}

/* chefs */
.chefs{
    width: 100%;
    margin: 5% auto;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .scroll {
            display: flex;
            gap: 10%;
            width: 20%;
            justify-content: flex-end;
    
            i {
                font-size: 25px;
                padding: 10px;
                border: solid #e7a118;
                border-radius: 50%;
                color: #433006;
    
                #right {
                    background-color: #e7a118;
                }
            }
    
            i:nth-child(2) {
                background-color: #e7a118;
            }
        }
    }

    .chefs-image{
        display: flex;
        width: 100%;
        justify-content: space-between;

        .chef{
            align-items: center;
            text-align: center;
            img{
                width: 300px;
                height: 500px;
                object-fit: contain;
            }

            .name {
                font-size: 24px;
                color: #433006;
                font-weight: 700;
            }
        }
    }

}

/* get-app */
.get-app{
    display: flex;
    gap: 10%;
    margin: 5% auto;

    .right{
        width: 60%;

        .apps{
            display: flex;
            gap: 5%;

            button{
                width: auto;
                align-items: center;
                display: flex;
                gap: 20px;

                .small{
                    font-size: 10px;
                }
            }

            button:nth-child(2){
                background: none;
                border: #e7a118 solid;
            }
        }
    }

    .left{
        width: 40%;
        display: flex;
        position: relative;

        .side-images{
            align-items: center;
            img:nth-child(1){
                position: absolute;
                width: 80px;
                height: 100px;
                object-fit: contain;
                top: 40%;
            }

            img:nth-child(2){
                position: absolute;
                bottom: 20%;
                width: 150px;
                height: 150px;
                object-fit: contain;
            }
        }
    }
}

/* footer */
footer{
    margin: 5% auto;
    img{
        width: 200px;
        height: 100px;
    }
    hr{
        margin-bottom: 5%;
    }

    .links{
        display: flex;
        justify-content: space-between;

        .contact{
            width: 25%;
            margin: 3% 0; 
                
            form{
                margin: 3% 0;
                gap: 5%;
                display: flex;
                input{
                    height: 30px;
                    width: 200px;
                    border: none;
                    border-bottom: solid 1px;
                    margin-bottom: 3%;
                }

                i {
                    padding: 10px;
                    background-color: #e7a118;
                    color: #433006;
                    border-radius: 50%;
                }
            }

            .social{
                display: flex;
                gap: 10px;

                i {
                    padding: 10px;
                    border: #433006 1px solid;
                    color: #433006;
                    border-radius: 50%;
                }

                i:nth-child(3){
                    background-color: #e7a118;
                    border-color: #e7a118;
                }
            }
        }

        .link{
            /* text-align: center; */
            justify-content: center;
            li{
                list-style-type: none;
                padding-left: 0;
            }
        }
    }   
}